doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='travel agent site')
  meta(name='author' content='Ndubuisi Okpala')
  title Ndchris Travel Agent Website
  link(rel='stylesheet' type='text/css' href='../project-css/404.css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap' rel='stylesheet')
header
  .top
    label.logo  
    h1.welcome  WELCOME TO TRAVEL EXPERT
    nav
      ul.nav1
        
        li
          a(href='../contact') Contact
        li
          a(href='../register') Register
        li
          a(href='../index') Home
        
  p
  h1.caption
    | BEST EXPERIENCE
  p
main
  h2.experience This Page is not Available
footer
  p.copyright  &copy; 2020 Travel Expert
