doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='travel agent site')
  meta(name='author' content='Ndubuisi Okpala')
  title Thanks From Ndchris Travel Expert
  link(rel='stylesheet' type='text/css' href='../project-css/thanks.css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap' rel='stylesheet')
h1
  | Thanks for submitting your file. 
  br
  |  We appreciate your patronage.